body, html {
	height: 100%;
	background: #f2f2f2;
}
img {
	width: 100%;
}
.heading{
	padding: 1rem 0;
}
#cover {
	background: #222 url('../images/cover.jpg') center no-repeat;
	background-size: cover;
	color: #fff;
	height: 100%;
	display: flex;
	text-align: center;
	align-items: center;
}
#cover-caption {
	width: 100%;
}
#cover-content {
	padding: 1.25rem;
	border-radius: 0.375rem;
	background: rgba(91,192,222,0.5);
}
#home-form {
	display: inline-flex;
}
.section-content {
	color: #333;
	line-height: 1.688rem;
	padding: 3.125rem 0;
	height: 100%;
}
#services-content {
	padding: 20px 0;
}
.card-footer {
	cursor: pointer;
	background: rgb(91,192,222);
}
.card-footer > small {
	color: #fff!important;
	font-size: 100%;
	font-weight: 800;
}

#aboutus {
	background: #e2e2e2 url('../images/about.jpg') no-repeat;
	background-size: cover;
}
#about-text {
	color: #fff;
	padding: 1.875rem;
	background: rgba(0,0,0,0.7);
}